<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <a href="{{ "" | relURL }}" class="brand-logo">
        Fish in Keys
      </a>

      <nav>
        <ul class="nav-links">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL | relURL }}" class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>

      <a href="tel:3055550123" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</header>
